/* ---------------------------------------------------
    NAVIGATION BAR
----------------------------------------------------- */

#topbar {
    background-color: black;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 70%;
	min-height: calc(100vh);
    background: #2853DC;
	color: white;
}

/* 
@media (min-width: 768px) { #sidebar { width: 50% ; 	}  } 
@media (min-width: 970px) { #sidebar {	width: 40% ;	}  }
@media (min-width: 1170px){ #sidebar {	width: 30% ;	}  }
*/

#sidebar .sidebar-header {
    padding: 50px;
    background: #040815;
    border-bottom: 1px solid white;
}

#sidebar ul.components {
    padding: 20px 0px 15px;
    border-bottom: 1px solid white;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block; 
	color: white;
    text-underline: none;
}

#sidebar ul li a:hover {
    background: #C7D1F3; 
	color: white;
    text-underline: none;
}

.sidebar {
    position: fixed;
    top: 20px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* Options arrow-down*/	
a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
	content:"\f078";
    font-family: FontAwesome;
}

ul ul a {
    padding-left: 30px !important;
}

/*	Button sube tu musica */
.btn-dark {
	background: black;
	color: white;
}

.btn-dark:hover {
     color: white;
    background-color: #DDE5FF;
    border-color: #C7D1F3; 	
}



/* ---------------------------------------------------
    REPRODCUTOR
----------------------------------------------------- */
.reproductor hr{
	color:white !important;
    border-top: 1px solid #ccc;
}

.reproductor, .reprodcutor_list_item{
	 background: black ; 
}

.reprodcutor_list_item:hover, .reprodcutor_list_item.active{
	  background: #CFCBCB !important;
	  color : black !important;
	  border : none;
}

.fa-heart.active{
  color:red !important;
}

.btn.active, .botones .btn:hover {
   background: #2853DC !important;	/* Blue */
}



#plList{
	overflow-y:auto;
    max-height: 55vh;
}

::-ms-tooltip { 
	 display: none;  
}

/* https://github.com/samuelcarreira/webkit-input-range-fill-lower/blob/master/script.min.js */

/*
.custom-range::-ms-fill-lower{
	background-color:#2853DC  !important;
}
*/
.custom-range::-webkit-slider-thumb{
	background-color:white!important;
	border-radius:0rem !important;	
}

.volumen{
	width : 20vw !important;	
}

/* https://codepen.io/noahblon/pen/OyajvN */
input[type="range"] {  
    -webkit-appearance: none;
    overflow: hidden;
    height: 10px;
    cursor: pointer;
	 background: linear-gradient(to right, #0000ff 0%, #cc0066 100%) !important;  
}
input[type=range]::-webkit-slider-runnable-track {	/* For Chrome */
   background: linear-gradient(to right, #0000ff 0%, #cc0066 100%) !important;  
}

::-webkit-slider-thumb {
	/* un poco sucio */
    /*  box-shadow: -100vw 0 0 100vw #2853DC;	 */
     box-shadow: 100vw 0px 0px 100vw grey;  

}


