/* ---------------------------------------------------
    Explorar
----------------------------------------------------- */

h3 {
	font-size: 20px !important;
}
	

@media (min-width: 768px) {
	h3 {
		font-size: 24px !important;
	}
}

@media (min-width: 970px) {
	h3 {
		font-size: 28px !important;
	}
}

@media (min-width: 1170px) {
	h3 {
		font-size: 32px !important;
	}
}


/* ---------------------------------------------------
    Search button
----------------------------------------------------- */

form.search-button button {
    background: #2853DC;	/* Blue */
    color: white;
}

/* ---------------------------------------------------
    Thumbnails
----------------------------------------------------- */
.img-thumbnail{
	 text-align:center;
}


/* ---------------------------------------------------
    Listas
----------------------------------------------------- */

.img-thumbnail:hover {
   /* background-image: url('http://www.online-image-editor.com//styles/2014/images/example_image.png'); */
    background-color: #D8D6D6; /* Grey */
}
.caption:hover {

}