<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Términos y condiciones de uso</title>
</head>
<body>
    <div id="tituloNuevo" value="Términos y condiciones de uso" style="display:none;"></div>
    <div style="margin-top: 20px;margin-right: 20px;margin-left: 20px;margin-bottom: 20px;padding-top: 15px;padding-right: 15px;padding-left: 15px;padding-bottom: 15px;">
        <!-- Obtenido de https://terminosycondicionesdeusoejemplo.com/ -->
        <h2 style="text-align: center;"><strong>Términos y Condiciones de Uso</strong></h2>
        <p>&nbsp;</p><p><strong>INFORMACIÓN RELEVANTE</strong></p>
        <p>Es requisito necesario para la reproducción de las canciones que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos &nbsp;que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para escuchar una canción, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</p>
        <p>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. www.wolfsound.ddns.net no asume la responsabilidad en caso de que entregue dicha clave a terceros.</p>
        <p>Todas las subidas de canciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del copyright de producto. En algunos casos puede que se requiera una verificación por medio de correo electrónico.</p>
        <p>Wolfic se reserva el derecho a registrar la música subida a Wolfsound sin copyright.</p>
        <p><strong>LICENCIA</strong></p>
        <p>Wolfic&nbsp; a través de su sitio web concede una licencia para que los usuarios utilicen&nbsp; las canciones que son subidas a este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.</p>
        <p><strong>USO NO AUTORIZADO</strong></p>
        <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.</p>
        <p><strong>PROPIEDAD</strong></p>
        <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad &nbsp;de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan&nbsp; sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será &nbsp;responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.</p>
        <p><strong>COMPROBACIÓN ANTIFRAUDE</strong></p>
        <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.</p>
        <p><strong>PRIVACIDAD</strong></p>
        <p>Este sitio web www.wolfsound.ddns.net garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.</p>
        <p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta.</p>
        <p>Wolfic reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
    </div>
</body>
</html>